.container {
	margin: auto;
	max-width: 700px;
	font-family: 'ManropeVariable', sans-serif;
}

.heading {
	color: rebeccapurple;
}

.nav-links {
	display: flex;
	list-style: none;
	padding: 0.5rem 0 2rem;
	margin-top: 4.5rem;
}

.nav-link-item {
	padding-right: 2rem;
}

.nav-link-text {
	color: black;
}

.site-title {
	position: absolute;
	width: 100%;
	padding: 1rem 0;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	font-weight: 700;
	background: rebeccapurple;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	left: 0;
}

@media screen and (max-width: 500px) {
	.site-title {
		font-size: 1rem;
	}
}
